body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:darkblue;
}

.projects {
    display:flex; 
    flex-wrap:wrap;  
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(114, 2, 2);  /* pick a color */
    border-radius: 25%;
}
